// #bio-photo {
// // max-width: 400px;
// // max-height: 325px;
// box-shadow: 10px 5px 50px white;
// // border-radius: 50%;
// // background-size: cover;
// border-radius: 25%;
// max-width: 275px;
// }

#bio-photo {
  max-width: 275px; /* Ensuring a square aspect ratio */
  max-height: 275px; /* Ensuring a square aspect ratio */
  width: 275px; /* Setting fixed width */
  height: 275px; /* Setting fixed height */
  box-shadow: 10px 5px 50px white;
  border-radius: 50%;
  object-fit: cover; /* Ensuring the image covers the container */
}

#bioDiv{
  padding-top: 25px;
  text-align: center;
}