#colinw {
  max-width: 300px;
  max-height: 300px;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#tech-header {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 45px;
  font-weight: bold;
}

#tech-icons {
padding-left: 88px;
}