@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#bioPage {
    display: none;
  }
  
#technologiesPage {
    display: none;
  }
  
#projectsPage {
    display: none;
  }

#footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}